html {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
}

.column, .columns {
  height: 100%;
}

#player {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
}

#sideColumn {
  display: grid;
  grid-template-rows: [row1-start] max-content [row1-end] max-content [third-line] auto [fourth-line] max-content [last-line];
}

#usernameContainer {
  display: none;
  width: 100%;
}

#messageInputContainer {
  display: none;
  width: 100%;
}

#chatContainer {
  border-style: solid;
  border-width: 2px;
  overflow-y: scroll;
  width: 100%;
}

#options {
  width: 100%;
}

#options:hover #optionContainer {
  display: block;
}

#optionContainer {
  display: none;
  width: 100%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

#messages li {
  padding: 5px 10px;
  background: rgb(0, 0, 0);
}

#messages li:nth-child(odd) {
  background: rgb(60, 60, 60);
}
